:host {
    position: relative;
    display: flex;

    &.show .overlay, &.show .modal-container {
        display: block;
    }
        
    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0.8;
        display: none;
        z-index: 100000;
    }
    
    .modal-container {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: white;
        z-index: 100001;
    }
}