<!-- Codeative Modal -->
<co-ngx-modal></co-ngx-modal>

<div class="co-navbar">
  <div class="container">
    <button class="menu brand-btn" (click)="showMenu = !showMenu">Menu</button>
    <div class="title" [routerLink]="['/docs']">{{ title }}</div>
  </div>
</div>
<div class="main-container">
  <aside [ngClass]="{show: showMenu}">
    <div class="item" routerLinkActive="active-item">
      <a routerLink="modal">Modal</a>
    </div>
  </aside>
  <div class="container">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>


