.co-navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #152b90;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: 0 2px 1px #000d4a;

    .container {
        position: relative;
        display: flex;
        width: 100%;
        
        .title {
            justify-self: center;
            margin: auto;
        }
    
        .menu {
            position: absolute;
            align-self: center;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 1rem;
        }
    }
}


.main-container {
    position: relative;
    display: flex;
    height: 100vh;
    z-index: 0;

    aside {
        position: sticky;
        top: 0;
        background: #223381;
        width: 0;
        padding: 25px 0;
        transition: all 700ms ease-in-out;
        overflow: hidden;

        &.show {
            width: 300px;
        }

        .item {
            color: white;
            padding: 20px 25px;
            cursor: pointer;

            &:hover {
                background: #2a3980;
            }

            &.active-item {
                background: #1a224a;
            }
        }
    }

    .container {

        main {
            flex: 1;
            padding: 25px 0;
        }
    }


}