/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

*, *::after, *::before {
    outline: none;
    user-select: none;

    button {
        box-shadow: none;

        &:focus {
            box-shadow: none !important;
        }

        &:active {
            box-shadow: none;
        }
        
    }
}

body {
    font-family: sans-serif;
    margin: 0;

    a {
        text-decoration: none;
        color: inherit;
        color: rgb(219, 219, 219);

        &:hover {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
    }


    .brand-btn {
        border: 1px solid #233792;
        color: #223381;
        background: none;
        outline: none;
        user-select: none;

        &:hover {
            border: 1px solid #233792;
            background: #233792;
            color: #ffffff;
        }

        &:focus {
            box-shadow: none;
        }

        &:active {
            transform: scale(0.98)
        }
    }
     
}